<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Task</h4>
      
        <div class="form-group input-group">
          Project name - <%= @task.project.name %>
        </div> 

        <div class="form-group input-group">
          Task name - <%= @task.name %>
        </div>

        <div class="form-group input-group">
          Description - <%= @task.description %>
        </div> 

        <div class="form-group input-group">
          Start Time - <%= @task.start_time.strftime('%d-%m-%Y %H:%M') %>
        </div> 

        <div class="form-group input-group">
          End Time - <%= @task.end_time.strftime('%d-%m-%Y %H:%M') %>
        </div>

        <div class="form-group input-group">
          Status - <%= @task.status %>
        </div> 

        <div class="form-group input-group">
          <% if @post.image_url %>
            Image - <%= image_tag @task.image.url, class: 'image_box' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-primary btn-md link_to_button" %>
          <%= link_to 'Back', tasks_path, :class => "btn btn-primary btn-md link_to_button" %>
        </div>       
      
    </article>
  </div>
</div>
<%= render 'layouts/footer'%>
