<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">

          <label for="title" class="col-md-4 col-form-label text-md-right">Project Name - </label>
          <%= @task.project.name %><br>

          <label for="title" class="col-md-4 col-form-label text-md-right">Task Name - </label>
          <%= @task.name %><br>
      
          <label for="category" class="col-md-4 col-form-label text-md-right">Description -</label>
          <%= @task.description %><br>
        
          <label for="description" class="col-md-4 col-form-label text-md-right">Start Time -</label>
          <%= @task.start_time %><br>

          <label for="description" class="col-md-4 col-form-label text-md-right">End Time -</label>
          <%= @task.end_time %><br>
        
          <label for="image" class="col-md-4 col-form-label text-md-right">Status</label>
          <%= @task.status %><br><br>

          <label for="image" class="col-md-4 col-form-label text-md-right">Image</label>
          <%= image_tag @task.image.url, class: 'image_box' %><br><br>
              
          <div class="col-md-6 offset-md-4">
            <%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-primary btn-md link_to_button" %>
            <%= link_to 'Back', tasks_path, :class => "btn btn-primary btn-md link_to_button" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>