<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <label for="title" class="col-md-4 col-form-label text-md-right">Name - </label>
          <%= @project.name %><br>
      
          <label for="category" class="col-md-4 col-form-label text-md-right">Client Name -</label>
          <%= @project.client_name %><br>
        
          <label for="description" class="col-md-4 col-form-label text-md-right">Start Date -</label>
          <%= @project.start_date.to_date %><br>

          <label for="description" class="col-md-4 col-form-label text-md-right">End Date -</label>
          <%= @project.end_date.to_date %><br>
        
          <label for="image" class="col-md-4 col-form-label text-md-right">Technology</label>
          <%= @project.technology_require %><br><br>
              
          <div class="col-md-6 offset-md-4">
            <%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-primary btn-md link_to_button" %>
            <%= link_to 'Back', projects_path, :class => "btn btn-primary btn-md link_to_button" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>