<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Post</h4>
      
        <div class="form-group input-group">
          Title - <%= @project.title %>
        </div>

        <div class="form-group input-group">
          Category - <%= @project.category %>
        </div> 

        <div class="form-group input-group">
          Description - <%= @project.description %>
        </div> 

        <div class="form-group input-group">
          Image - <%= image_tag @post.image.url, class: 'image_box' %>
        </div> 

        <div class="form-group">
          <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary btn-md link_to_button" %>
          <%= link_to 'Back', posts_path, :class => "btn btn-primary btn-md link_to_button" %>
        </div>       
      
    </article>
  </div>
</div>
<%= render 'layouts/footer'%>
