<main id="main">
  <section id="what-we-do" class="what-we-do">
    <div class="container">
      <div class="section-title">
        <h2><%= t("activerecord.welcome.what_we_do7")%></h2>
        <p><%= t("activerecord.welcome.what_we_do")%></p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href=""><%= t("activerecord.welcome.what_we_do10")%></a></h4>
            <p><%= t("activerecord.welcome.what_we_do2")%></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href=""><%= t("activerecord.welcome.what_we_do6")%></a></h4>
            <p><%= t("activerecord.welcome.what_we_do3")%></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href=""><%= t("activerecord.welcome.what_we_do5")%></a></h4>
            <p><%= t("activerecord.welcome.what_we_do4")%></p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End What We Do Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3><%= t("activerecord.welcome.about_us")%></h3>
          <p><%= t("activerecord.welcome.about_us1")%></p>
          <ul>
            <li><i class="bx bx-check-double"></i><%= t("activerecord.welcome.about_us2")%></li>
          </ul>
          <div class="row icon-boxes">
            <div class="col-md-6">
              <i class="bx bx-receipt"></i>
              <h4><%= t("activerecord.welcome.about_us3")%></h4>
              <p><%= t("activerecord.welcome.about_us4")%></p>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <i class="bx bx-cube-alt"></i>
              <h4><%= t("activerecord.welcome.about_us6")%></h4>
              <p><%= t("activerecord.welcome.about_us7")%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
</main><!-- End #main -->